build/*
Breeze.elf
Breeze.nacp
Breeze.nro
source/action.cpp
source/action.hpp
source/air.hpp
source/breezeactions.cpp
source/breezefiles.cpp
source/candidates.cpp
source/download.cpp
source/help.cpp
source/lite.hpp
source/lz.cpp
source/lz.h
source/memory_edit.cpp
source/search.cpp
source/setting.cpp
